.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
}
.navigator {
  height: 40px;
}

.nav-item {
  float: left;
  margin-left: 16px;
  color: white;
  float: left;
  position: relative;
  line-height: 50%;
  list-style: none;
  font-size: 18px;
}
.content {
  background-color: beige;
  height: 5000px;
}
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
}
.ear_right {
  background-color: brown;
  height: 60px;
  width: 40px;
  position: absolute;
  top: -60px;
  left: -40px;
}
.ear_left {
  background-color: brown;
  height: 60px;
  width: 40px;
  position: absolute;
  top: -60px;
  right: -40px;
}
.eye {
  background-color: grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.eye_right {
  position: absolute;
  top: 80px;
  right: 40px;
}
.eye_left {
  position: absolute;
  top: 80px;
  left: 40px;
}
