body {
  box-sizing: border-box;
}
.login-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
.form-control {
  display: flex;
  flex-direction: column;
}
