h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 74px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  margin: 16px auto;
}
div {
  height: 210px;
  background-color: coral;
  color: white;
  text-align: center;
  line-height: 210px;
  text-transform: uppercase;
}
