.gallery {
  display: flex;
  /* flex-wrap: nowrap; */
}

.image {
  margin: 16px;
  height: 199px;
  width: 199px;
  border: 1px dotted grey;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
