* {
  box-sizing: border-box;
}

.html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  flex: 0 0 auto;
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
}
.main {
  height: calc(100vh - 20vh);
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0.5em;
}
.navigation {
  width: 20%;
}
.section__header {
  width: 60%;
}
.news {
  width: 20%;
}
.footer {
  flex: 0 0 auto;
  background-color: #e5e5e5;
  padding: 0.5em;
}
_section_header {
  font-size: calc(5%width);
}
