* {
  box-sizing: border-box;
}

.content {
  display: flex;
  min-height: 100vh; /*Контент-высота видимой области 
  (вью порт хеит. Если контент занимает больше,чем 
  высота видимой области, то   появиться скрол*/
  width: 100vw;
}
.gallery {
  display: flex;
  width: 80%;
  background-color: #fa5;
}
.ideas {
  display: flex;
  width: 20%;
  background-color: #5af;
}
.image {
  justify-content: center; /**/
  text-align: center;
  vertical-align: bottom;
  max-width: 100%; /* Растягиваеться 
  макс до ширины самого файла*/
  margin: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.idea {
  text-align: center;
  font-weight: 700;
  color: #fff;
  opacity: 700;
  margin: auto;
  text-transform: uppercase;
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*1.Основные большие блоки задавать с помощью относит.
величин
2.Экраны могут быть разных размеров, центрирование 
элементов правильно и удобно
3.РОдительский элемент должен быть Дисплей:Флекс,
тогда все элементы внутри будут гибкими
4. Верстка начинаеться сначала для маленьких экранов*/
