* {
  box-sizing: border-box;
}
.container {
  display: flex;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: moving 2s;
  animation-iteration-count: infinite;
}
.spinner-text {
  animation: blinging 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving 2s infinite;
  animation: blinking 2s infinite;
  justify-content: center;
}
@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
