* {
  box-sizing: border-box;
}
.container {
  display: flex;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: monospace;
  font-size: 36px;
  text-transform: uppercase;
  animation: moving 22s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
.spinner-text {
  /* animation: blinging 5s;
  animation-iteration-count: infinite; */
}
.rect {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving 22s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation: blinging 2s infinite;  */
}
