.header {
  display: flex;
  height: 40px;
  background-color: yellow;
  justify-content: flex-start;
  align-items: center;
}
.footer {
  display: flex;
  height: 40px;
  background-color: green;
}
.navigation {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.navigation_item {
  margin-left: 16px;
  justify-content: left;
}
.footer_text {
  margin: auto;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
  display: flex;
}
.dashboarf {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.new {
  width: 200px;
  background-color: grey;
}
.list_new {
  padding: 0px;
  margin: 0;
  list-style-type: none;
  justify-content: left;
}
.head_new {
  display: flex;
  margin: 16px 16px 16px 16px;
  justify-content: center;
}
.new_list {
  display: flex;
  padding: 10px;
  align-items: left;
}
