* {
  box-sizing: border-box;
}

.mountains {
  padding: 32px;

  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  height: 500px;
  width: 300px;
  background-color: hsla(700, 80%, 90%);
  background-image: url(nature.jpeg);
  background-position: center;
  /* background-size: contain;
  background-repeat: no-repeat; */
}
