* {
  box-sizing: border-box;
}
.navigation {
  display: flex;
  min-height: 200px;
  background-color: #ff7f50;
}
.products {
  display: flex;
  min-height: 200px;
  background-color: #006400;
}
.news {
  display: flex;
  min-height: 200px;
  background-color: #0ff;
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .productKontainer {
    display: flex;
  }
  .products,
  .navigation {
    flex: 1 1 0; /* flex-grow:1,flex-shrink:1;flex-basis:auto*/
  }
}
/* @media screen and (min-width: 900px) {
  .container {
    display: flex;
  }
  .navigation {
    width: 33.3vw;
  }
  .products {
    width: 33.3vw;
  }
  .news {
    width: 33.3vw;
  }
} */

@media (min-width: 900px) {
  .container {
    display: flex;
  }
  .productKontainer {
    flex: 2;
  }
  .news {
    flex: 1;
  }
}
